/* CSS cho phân trang */
:root {
    --text-color-1: #111 !important;
    --bg-color-1: #f6f6f6 !important;
    --text-color-2: #666 !important;
    --bg-color-2: #ca1515 !important;
    --text-color-3: #fff !important;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    margin: 12px !important;
    border-radius: 30px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    border-radius: px;
}

.pagination a.active {
    background-color: var(--bg-color-2);
    color: white;
}

.pagination a:hover {
    background-color: #ddd;
    color: var(--text-color-1);
}
