:root {
    --text-color-1: #111 !important;
    --bg-color-1: #f6f6f6 !important;
    --text-color-2: #666 !important;
    --bg-color-2: #ca1515 !important;
    --text-color-3: #fff !important;
}

.login-main {
    background-position: 50% 0%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../img/category-1.jpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-back {
    padding: 8px 32px;
    border-radius: 30px;

    background-color: var(--bg-color-2);
    position: absolute;
    left: 64px;
    top: 64px;
    font-size: 18px;
}
.btn-back span{
    margin-left: 8px;
}
.btn-back>* {
    color: var(--text-color-3);
}

a {
    text-decoration: none !important;
}

.login-content {
    padding-bottom: 32px;
    float: right;
    width: 360px;
    max-width: calc(100% - 64px);
    height: 100%;
    display: flex;
    align-items: center;
}

.login-content__title,
.login-content__text {
    text-align: right;
}

.login-bg {
    width: 1200px;
    max-width: calc(100% - 32px);
}

.login-form {
    margin: auto !important;
    width: 360px;
    max-width: calc(100% - 32px);
    padding: 32px;
    border-radius: 30px;
    background-color: var(--bg-color-1);
}

.login-form form {
    display: flex;
    flex-direction: column;
}

.login-form__title,
.login-content__title {
    font-size: 24px;
    line-height: 28.8px;
    padding: 8px 0 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.login-form form input {
    padding: 12px 24px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 30px;
    margin: 8px 0 !important;
}

.btn-submit {
    background-color: var(--bg-color-2);
    color: var(--text-color-3);
}

.form-or {
    text-align: center;
}

/* register */
.register {
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    justify-content: center;
    align-items: center;
    padding: 36px;
    transition: all 1s ease-in-out;
}

.register-bg {

    position: relative;
    background-color: var(--bg-color-1);
    width: 360px;
    max-width: calc(100% - 32px);
    border-radius: 30px;
    transition: .3s ease-in-out;
}

.close-register {
    position: absolute;
    top: 16px;
    right: 36px;
    font-size: 24px;
    transition: .3s ease-in-out;
}

.close-register:hover {
    cursor: pointer;
    transform: rotate(90deg);
    transition: .3s ease-in-out;
}

.register form {
    width: 100%;
    padding: 16px 32px;
    display: flex;
    flex-direction: column;
}

.login-form,
form input,
select {
    padding: 12px 24px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 30px;
    margin: 8px 0 !important;
}

.register__tite {
    margin-left: 32px !important;
    margin-top: 16px !important;
    font-size: 24px;
    line-height: 28.8px;
    font-weight: 600;
}

.open-form {
    visibility: visible;
    opacity: 1;
}
/* toats */
#toast {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;

    position: fixed;
    z-index: 1;
    left: 0;right:0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
}
#toast #img{
	width: 50px;
	height: 50px;
    
    float: left;
    
    padding-top: 16px;
    padding-bottom: 16px;
    
    box-sizing: border-box;

    
    background-color: #111;
    color: #fff;
}
#toast #desc{

    
    color: #fff;
   
    padding: 16px;
    
    overflow: hidden;
	white-space: nowrap;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
    from {min-width: 50px} 
    to {min-width: 350px}
}

@keyframes expand {
    from {min-width: 50px}
    to {min-width: 350px}
}
@-webkit-keyframes stay {
    from {min-width: 350px} 
    to {min-width: 350px}
}

@keyframes stay {
    from {min-width: 350px}
    to {min-width: 350px}
}
@-webkit-keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 60px; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 60px; opacity: 0;}
}